<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/menuUser.css}">

<body class="bg-body-tertiary">
	
	<main>
		<div class="contentor">
			<div class="menu">
				<div class="menu-toggle active" id="mobile-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>

				<nav class="sidebar">
					<ul>
						<li><a href="#" onclick="mudarModuloBackEnd('expressjs')">Express.js</a></li>
						<li><a href="#" onclick="mudarModuloBackEnd('nodejs')">Node.js</a></li>
						<li><a href="#" onclick="mudarModuloBackEnd('mysql')">Mysql</a></li>
						<li>
							<a th:href="@{/trilhas}" class="nav-link" aria-current="page">
								<lord-icon src="https://cdn.lordicon.com/whtfgdfm.json" trigger="hover"
									colors="primary:#ff0066" style="width:30px;height:30px">
								</lord-icon>
								
								Sair
							</a>
						</li>
					</ul>
				</nav>

				<div class="content">
					<h1 id="tituloModulo">Bem-vindo ao Mundo do Desenvolvimento Back-End!</h1>

					<p id="conteudoModulo">Estamos empolgados por você se juntar a nós nesta jornada pelo fascinante
						universo do desenvolvimento back-end. Ao longo deste curso, exploraremos os fundamentos,
						tecnologias e práticas que impulsionam o lado "invisível" da web, tornando possíveis as
						funcionalidades e interações complexas que os usuários adoram.
					</p>

					<div class="imagem"><img th:src="@{/assets/img/other/back-end.jpg}" alt=""></div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>