<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/menuUser.css}">

<body>
	<main>
		<div class="contentor">
			<div class="menu">
				<div class="menu-toggle active" id="mobile-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>

				<nav class="sidebar">
					<ul>
						<li><a href="#" onclick="mudarModuloFrontEnd('HTML')">HTML</a></li>
						<li><a href="#" onclick="mudarModuloFrontEnd('CSS')">CSS</a></li>
						<li><a href="#" onclick="mudarModuloFrontEnd('Bootstrap')">Bootstrap</a></li>
						<li><a href="#" onclick="mudarModuloFrontEnd('JavaScript')">JavaScript</a></li>
						<li><a href="#" onclick="mudarModuloFrontEnd('React')">React</a></li>
						<li>
							<a th:href="@{/trilhas}" class="nav-link" aria-current="page">
								<lord-icon src="https://cdn.lordicon.com/whtfgdfm.json" trigger="hover"
									colors="primary:#ff0066" style="width:30px;height:30px">
								</lord-icon> 
								
								Sair
							</a>
						</li>
					</ul>
				</nav>

				<div class="content">
					<h1 id="tituloModulo">Boas-vindas à Jornada da Manipulação do Front-End!</h1>
					
					<p id="conteudoModulo">É com grande entusiasmo que iniciamos esta jornada explorando os fundamentos
						e as tecnologias essenciais que impulsionam o mundo do desenvolvimento web. Ao longo deste
						curso, você terá a oportunidade de mergulhar em três módulos cruciais: HTML, CSS e JavaScript,
						culminando em React,
						uma biblioteca poderosa para construção de interfaces dinâmicas.
					</p>

					<div class="imagem"><img th:src="@{/assets/img/other/front-end.jpg}" alt=""></div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>