<div th:replace="~{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/cadastre.css}">

<body class="d-flex align-items-center py-4 bg-body-tertiary">

	<main class="form-signin w-100 m-auto">
		<form class="form-row" th:action="@{/usuario/novo}" th:object="${user}" method="post">

			<a th:href="@{/}">
				<img class="mb-4" th:src="@{/assets/img/icon/icon-pink-2.png}" alt="devHOME™ logo" id="icon-logo">
			</a>

			<h1 class="h3 mb-3 fw-normal" id="typing-header">"Junte-se a mim."</h1>

			<div class="form-floating">
				<input type="text" class="form-control" id="name" placeholder="Digite seu nome" name="Name" required
					th:field="${user.name}">

				<label for="name"> Nome completo </label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF" name="CPF" required
					th:field="${user.cpf}">

				<label for="cpf"> CPF </label>
			</div>

			<div class="form-floating">
				<input type="text" class="form-control" id="email" placeholder="Digite seu e-mail" name="Email" required
					th:field="${user.email}">

				<label for="email"> E-mail </label>
			</div>

			<div class="form-floating">
				<input type="password" class="form-control" id="password" placeholder="Digite sua senha" name="Password"
					required th:field="${user.password}">

				<label for="password"> Senha </label>
			</div>

			<button class="btn btn-primary w-100 py-2" type="submit"> Cadastrar </button>

			<div class="text-center text-body-secondary my-1 small"> Já possui uma conta?
				<a th:href="@{/login}" class="d-inline" target="_self"> Entre </a>
			</div>
		</form>
	</main>
	
</body>

</html>