<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/menuAdm.css}">

<body class="bg-body-tertiary">
	<div th:replace="@{/shared/_sidebars}"></div>

	<main class="contentor">
		<div class="container mt-5">
			<h2 class="display-3 fw-bold" id="typing-header">Lista de Usuários</h2>

			<div class="table-responsive rounded-3 border">
				<table class="table table-striped table-hover caption-bottom">
					<caption class="text-center">Esses foram todas os usuários cadastrados até o momento.</caption>
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Foto</th>
							<th scope="col">Nome</th>
							<th scope="col">Aniversário</th>
							<th scope="col">CPF</th>
							<th scope="col">Contato</th>
							<th scope="col">E-mail</th>
							<th scope="col">Senha</th>
							<th scope="col"> Ações </th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="user : ${user}">
							<th scope="row" th:text="${user.id}"></th>
							<td>
								<img alt="imagem" height="50px" width="50px" th:src="@{'/usuario/img/' + ${user.id}}" />
							</td>
							<td>
								<a th:text="${user.name}" th:href="@{/usuario/editar/{id} (id=${user.id})}"></a>
							</td>
							<td th:text="${#temporals.format(user.birth, 'dd/MM/yyyy')}"></td>
							<td
								th:text="${#strings.replace(#strings.substring(user.cpf, 0, 3) + '.' + #strings.substring(user.cpf, 3, 6) + '.' + #strings.substring(user.cpf, 6, 9) + '-' + #strings.substring(user.cpf, 9, 11), '.-', '-')}">
							</td>
							<td th:text="${user.contact}">></td>
							<td th:text="${user.email}">></td>
							<td th:text="${user.password}">></td>
							<td>
								<div class="btn-group">
									<a th:href="@{/usuario/editar/{id} (id=${user.id})}" class="btn btn-success">
										Editar
									</a>

									<a th:href="@{'/usuario/deletar/' + ${user.id}}" class="btn btn-danger"
										th:onclick="'return confirm(\'Tem certeza que deseja excluir o usuário com ID: ' + ${user.id} + '?\');'">
										Excluir
									</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<a th:href="@{/usuario/novo}" class="btn btn-primary my-3"> Novo Usuário </a>
		</div>
	</main>

</body>

</html>