<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/login.css}">

<body class="d-flex align-items-center bg-body-tertiary">

	<main class="form-signin w-100 m-auto">
		<form th:action="@{/login}" method="post">

			<a th:href="@{/}">
				<img class="mb-4" th:src="@{/assets/img/icon/icon-pink-2.png}" alt="devHOME™ logo" id="icon-logo">
			</a>

			<h1 class="h3 mb-3 fw-normal" id="typing-header">Embarque</h1>

			<div class="form-floating">
				<input type="email" name="email" class="form-control" id="floatingInput email"
					placeholder="name@example.com" required>

				<label for="floatingInput">Endereço de e-mail</label>
			</div>

			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password"
					required>

				<label for="floatingPassword">Senha</label>
			</div>

			<div class="form-check text-start mb-3">
				<input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">

				<label class="form-check-label" for="flexCheckDefault"> Lembre-me </label>
			</div>

			<button class="btn btn-primary w-100 py-2" type="submit"> Entrar </button>

			<div class="text-center text-body-secondary my-1 small"> Não possui uma conta?
				<a th:href="@{usuario/novo}" class="d-inline" target="_self"> Cadastre-se </a>
			</div>
		</form>
	</main>
	
</body>

</html>