<div th:replace="~{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/about.css}">

<body>
	<div th:replace="~{/shared/_navbar}"></div>

	<main>
		<div class="container-fluid d-flex align-items-center my-5">
			<div class="container-xxl d-flex justify-content-center flex-wrap gap-5">

				<section class="container my-5 text-center">
					<div class="col text-center">
						<h1 class="fw-bold">Ligamos o liquidificador.. <span class="enfase-text">ARGH</span></h1>

						<p class="lead fs-4">
							"Seja bem-vindo à nossa casa de software, onde misturamos talento e inovação, como
							ingredientes em um liquidificador, para criar soluções únicas e eficientes..."
						</p>
					</div>
					<img class="img-fluid my-3" alt="Imagem" th:src="@{/assets/img/other/mixer.svg}">
				</section>

				<section class="container my-3">
					<div class="container ">
						<div class="row justify-content-center align-items-center my-5">
							<div class="col-lg-3">
								<script src="https://cdn.lordicon.com/lordicon.js"></script>
								<lord-icon src="https://cdn.lordicon.com/txbgsuya.json" trigger="hover" stroke="light"
									style="width:150px;height:150px">
								</lord-icon>
							</div>

							<div class="col-8">
								<h1 class="">
									Missão
								</h1>

								<p class="lead">
									A missão da DevHome é capacitar profissionais de tecnologia e desenvolvimento de
									software, fornecendo-lhes uma experiência prática e imersiva que os prepara para
									enfrentar desafios reais do mercado de trabalho. Buscamos promover o crescimento
									pessoal
									e profissional de nossos residentes, fornecendo-lhes as habilidades e conhecimentos
									necessários para alcançarem sucesso em suas carreiras.
								</p>
							</div>
						</div>

						<div class="row justify-content-center align-items-center my-5">
							<div class="col-lg-3">
								<script src="https://cdn.lordicon.com/lordicon.js"></script>
								<lord-icon src="https://cdn.lordicon.com/fmjvulyw.json" trigger="hover" stroke="light"
									style="width:150px;height:150px">
								</lord-icon>
							</div>

							<div class="col-8">
								<h1 class="">
									Visão
								</h1>

								<p class="lead">
									Nossa visão é sermos reconhecidos como uma referência em residência em software,
									transformando a maneira como os profissionais de tecnologia são capacitados e
									preparados
									para o mercado de trabalho. Buscamos criar um ambiente de aprendizado dinâmico e
									colaborativo, onde os residentes possam crescer, inovar e se destacar como líderes
									em
									suas áreas de atuação.
								</p>
							</div>
						</div>

						<div class="row justify-content-center align-items-center my-5">
							<div class="col-lg-3">
								<script src="https://cdn.lordicon.com/lordicon.js"></script>
								<lord-icon src="https://cdn.lordicon.com/dypzookn.json" trigger="hover" stroke="light"
									style="width:150px;height:150px">
								</lord-icon>
							</div>

							<div class="col-8">
								<h1 class="">
									Valores
								</h1>

								<p class="lead">
									Excelência: Compromisso com qualidade e busca contínua pela excelência.
									Colaboração: Valorização do trabalho em equipe para alcançar resultados
									significativos.
									Inovação: Busca constante por soluções criativas e progresso tecnológico.
									Empoderamento: Fornecimento de recursos para capacitar profissionais a atingir seu
									potencial máximo.
									Integridade: Atuação com ética e respeito em todas as interações profissionais.
								</p>
							</div>
						</div>
					</div>
				</section>

				<section class="container my-3">
					<div class="my-5">
						<h2 class="text-center">"Equipe instanciada!"</h2>

						<div class="row">
							<div id="card-area">
								<div class="box-area">
									<div class="col col-md-12 box">
										<img alt="" th:src="@{/assets/img/other/leomar.png}">

										<div class="overlay">
											<h3> Leomar Fernandes </h3>

											<p>
												
											</p>
										</div>
									</div>

									<div class="col col-md-12 box">
										<img alt="" th:src="@{/assets/img/other/levi.png}">

										<div class="overlay">
											<h3> Levi Figueiredo </h3>
											<p>
												"Esqueça o passado, viva o presente e planeje o futuro"
											</p>
										</div>
									</div>

									<div class="col col-md-12 box">
										<img alt="" th:src="@{/assets/img/other/lucas.png}">

										<div class="overlay">
											<h3> Lucas Santos </h3>
											<p>
												"Desafios não existem para nos deter, mas sim para nos impulsionar a
												alcançar novos horizontes."
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="container my-3 border rounded-3">
					<h3 class="text-center fw-bold my-4"> Vagas esperando por você </h3>

					<div class="container text-center table-responsive my-lg-3">
						<table class="table table-striped">
							<thead>
								<tr class="text-center">
									<th scope="col"> ID </th>
									<th scope="col"> Vaga </th>
									<th scope="col"> Descrição </th>
									<th scope="col"> Empresa </th>
									<th scope="col"> Localização </th>
									<th scope="col"> Data do Cadastro </th>
									<th scope="col"> Setor </th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="vacancy : ${vacancy}">
									<th scope="row" th:text="${vacancy.id}"></th>
									<td th:text="${vacancy.name}"></td>
									<td th:text="${vacancy.description}"></td>
									<td th:text="${vacancy.enterprise.name}"></td>
									<td th:text="${vacancy.enterprise.address}"></td>
									<td th:text="${vacancy.candidacy}"></td>
									<td th:text="${vacancy.sector}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>

		<section class="parcerias">
			<div>
				<h2 class="text-center fw-bold">PACERIAS <span>E PROJETOS</span></h2>
				<h4>Algumas formas de aumentar suas habilidades. <br>Se liga!</h4>

				<div class="flex">
					<div class="parcerias-box">
						<i class="bi bi-calendar-week"></i>
						<h3>Eventos e Patrocínios</h3>

						<p>
							Nossos eventos são uma ótima oportunidade para você promover sua marca além de
							aprender e desenvolver-se no mercado.
						</p>
					</div>

					<div class="parcerias-box">
						<i class="bi bi-mic"></i>
						<h3>Podcast</h3>

						<p>
							Desejamos criar uma experiência de aprendizado mais envolvente, acessível e
							diversificada para voce e seus amigos.
						</p>
					</div>

					<div class="parcerias-box">
						<i class="bi bi-people"></i>
						<h3>Parcerias Sociais</h3>

						<p>
							Tudo vem do bom compartilhamento e conexão, e aqui não é diferente. Temos muitos
							parceiros com ótimos benefícios para você!
						</p>
					</div>
				</div>
			</div>
		</section>
		</div>
		</div>
	</main>

	<div th:replace="~{/shared/_footer}"></div>

</body>

</html>