<div th:replace="shared/head"></div>
<link rel="stylesheet" href="/assets/css/style.css">

<body>
	<div th:replace="shared/navbar"></div>

	<main>
		<div class="container-fluid d-flex align-items-center">
			<div class="container-xxl d-flex justify-content-center flex-wrap gap-5">
				<div class="container-fluid" id="banner">

					<div class="col text-center">
						<h1 class="fw-bold">A melhor escolha se faz aqui.</h1>

						<p class="lead fs-2">
							"Estamos à procura de criativos inteligentes, cheios de energia positiva e
							uma paixão
							por construir produtos que as pessoas adoram..."
						</p>
					</div>
				</div>
				<img class="img-fluid" alt="Imagem" src="/assets/img/other/mixer.svg">


				<!--				<a class="btn btn-outline-primary" href="#history" role="button">Saiba mais</a>-->

				<section>
					<h2 class="title">Diferenciais</h2>

					<div id="card-area">
						<div class="wrapper">
							<div class="box-area">
								<div class="box">
									<img alt="" src="/assets/img/other/sobre-integração.jpg">

									<div class="overlay">
										<h3> Integração ao Mercado </h3>

										<p>
											Integrar os residentes aos desafios atuais do mercado de trabalho em
											Desenvolvimento de Software.
										</p>
									</div>
								</div>

								<div class="box">
									<img alt="" src="/assets/img/other/sobre-metodologia.jpg">

									<div class="overlay">
										<h3> Metodologia Inovadora </h3>
										<p>
											Imersão em equipes de trabalho para solução de problemas reais
											acompanhados
											por especialistas na área.
										</p>
									</div>
								</div>

								<div class="box">
									<img alt="" src="/assets/img/other/sobre-oportunidades.jpg">

									<div class="overlay">
										<h3> Networking e Oportunidades </h3>
										<p>
											Oportunidades de trabalho em equipe em contato com instrutores
											especialistas
											inseridos no mercado de trabalho.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="history">
				</section>

				<section>
					<img src="/assets/img/other/......." alt="Residência em Software">

					<h2>O que é um programa de residência de software?</h2>
					<p>
						A residência é um programa de desenvolvimento acelerado de capital humano, montado a
						partir de
						necessidades de capacitação específicas de uma empresa patrocinadora. Além do
						recrutamento, o
						programa contempla toda a jornada do candidato até a contratação, com foco na formação e
						mentoria desses profissionais com base nas especificidades de cada empresa.
					</p>

					<p>
						Esse tipo de contratação é mais adequado para organizações com grande demanda de vagas.
						Dessa
						forma, dezenas de profissionais poderão ser selecionados, treinados e admitidos de uma
						só vez,
						garantindo a qualidade do processo e o fit cultural entre contratante e contratados. Por
						meio
						desta modalidade, é possível formar tanto competências mais demandadas pelo mercado
						quanto
						habilidades mais singulares, para as quais não existe oferta satisfatória de
						profissionais.
					</p>

					<p>
						Um dos diferenciais do programa de residência é que, durante o processo de treinamento,
						a
						empresa pode capacitar os participantes não apenas com conhecimentos técnicos, mas
						também tem a
						oportunidade de trabalhar os valores e a cultura da organização.
					</p>
				</section>

				<section class="parcerias">
					<div>
						<h2>PACERIAS <span>E PROJETOS</span></h2>
						<h4>Tem alguma proposta de parceria ou patrocínio? <br>Entre em contato</h4>

						<div class="flex">
							<div class="parcerias-box">
								<i class="bi bi-calendar-week"></i>
								<h3>Eventos e Patrocícios</h3>

								<p>
									Nossos eventos são uma ótima oportunidade para você promover sua marca e
									alcançar um
									público qualificado.
								</p>
							</div>

							<div class="parcerias-box">
								<i class="bi bi-mic"></i>
								<h3>Podcast</h3>

								<p>
									Se você é um especialista em tecnologia, ou se simplesmente tem uma história
									interessante para contar, entre em contato conosco.
								</p>
							</div>

							<div class="parcerias-box">
								<i class="bi bi-people"></i>
								<h3>Parcerias Sociais</h3>

								<p>
									Tem um pedido de apoio ou parceria para a sua Comunidade? Entre em contato
									conosco e
									nos envie a sua proposta!
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>

	<div th:replace="shared/footer"></div>

</body>

</html>