<div th:replace="~{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/faq.css}">

<body>
	<div th:replace="~{/shared/_navbar}"></div>

	<main>
		<div class="container-fluid my-5">
			<div class="container-xxl d-flex justify-content-center flex-wrap">

				<div class="container py-4">
					<h1 class="display-4 fw-bold text-center">Perguntas Frequentes</h1>

					<div class="accordion my-3" id="accordionExample">

						<div class="accordion-item">
							<h2 class="accordion-header" id="heading">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapse" aria-expanded="true" aria-controls="collapse">
									O que é Residência em Software?
								</button>
							</h2>

							<div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">
									<p>
										"É um programa de desenvolvimento profissional que oferece experiência
										prática
										em um
										ambiente
										de trabalho real relacionado à área de software e tecnologia. Os
										participantes,
										conhecidos
										como residentes, têm a oportunidade de trabalhar em projetos
										significativos,
										colaborar
										com
										profissionais experientes e aprimorar suas habilidades técnicas e de
										comunicação. Esses
										programas preparam os participantes para carreiras em desenvolvimento de
										software,
										engenharia de software e áreas afins."
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Quanto custa de um programa de Residência em Software?
								</button>
							</h2>

							<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">
									<p>
										Não cobramos nenhum conhecimento técnico prévio, ou taxa, pois o curso é
										<span class="fw-bold">100% gratuito</span>, sem contar que ao final você
										pode ser
										contratado por uma empresa parceira do programa.
									</p>

									<p><span class="fw-bold">Lembre-se, tudo depende de você!</span></p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Quais são os programas de Residência em Software?
								</button>
							</h2>

							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">
									<p class="small">
										Atualmente temos duas modalidades de programas de residência:
									</p>

									<p>
										<span class="fw-bold">Residência em Desenvolvimento de Software:</span>
										Qualificação de profissionais para o desenvolvimento de software
										fullstack (web
										e
										mobile).
									</p>

									<p>
										<span class="fw-bold"> Residência em Infraestrutura de Redes:</span>
										Qualificação de profissionais para estruturação de redes de computadores
										em uma
										organização.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Quais são os benefícios em uma Residência em Software?
								</button>
							</h2>

							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">
									<p>
										<span class="fw-bold">Experiência Prática:</span> Os participantes têm a
										oportunidade de
										trabalhar em projetos reais e ganhar experiência prática em um ambiente
										de
										trabalho
										profissional.
									</p>

									<p>
										<span class="fw-bold">Aprendizado Contínuo:</span> A residência em
										software
										oferece
										oportunidades de aprendizado
										contínuo, permitindo que os participantes aprimorem suas habilidades
										técnicas e
										adquiram
										novos conhecimentos em sua área de interesse.
									</p>

									<p>
										<span class="fw-bold">Networking:</span> Os participantes têm a chance
										de
										conhecer e
										colaborar com profissionais
										experientes da indústria de software, o que pode levar a conexões
										valiosas e
										oportunidades futuras.
									</p>

									<p>
										<span class="fw-bold">Mentoria:</span> Oferecemos mentoria por
										profissionais
										experientes, proporcionando orientação e conselhos para o
										desenvolvimento de
										carreira
										dos participantes.
									</p>

									<p>
										<span class="fw-bold">Credibilidade:</span> Participar da residência em
										software
										pode aumentar a credibilidade do participante no mercado de trabalho,
										demonstrando seu
										compromisso com o aprendizado e seu desejo de se desenvolver
										profissionalmente.
									</p>

									<p>
										<span class="fw-bold">Possíveis Oportunidades de Emprego:</span>
										Participando do
										programada você receber oportunidades de emprego em tempo integral com a
										organização
										hospedeira ou em outras empresas do setor, pois todos os participantes
										que
										demonstram
										suas habilidades e capacidades durante o programa podem ser
										selecionados.
									</p>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFour">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									Critérios para se candidatar ao programa de Residência em Software?
								</button>
							</h2>

							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">

									<p>
										<span class="fw-bold">Maior 16 anos:</span> O candidato precisa ter 16
										anos
										completos
										até a data da candidatura.
									</p>

									<p>
										<span class="fw-bold">Ensino Médio:</span> O candidato precisa ter
										concluído por
										completo ou estar concluíndo no ano da candidatura o ensino médio.
									</p>

									<p>
										Habilidade forte em comunicação, muita vontade de aprender a trabalhar
										com
										tecnologia.
									</p>

									<p>
										Capacidade de trabalhar em um ambiente altamente colaborativo e
										interdisciplinar.
									</p>

									<p>
										Você precisa ter interesse e paixão pela Tecnologia. Em nosso programa
										de
										residência em
										software procuramos candidatos que o demonstrem, bem como um desejo de
										aprender
										e
										crescer profissionalmente na área de software.
									</p>

								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingFive">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									A residência em software é remunerada?
								</button>
							</h2>

							<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">
									<span class="fw-bold">"SIM."</span> Com o apoio do Governo Federal através
									do
									programa
									Residência em TIC, iniciativa do Ministério da Ciência, Tecnologia e
									Inovação (<a
										th:href="@{https://www.gov.br/mcti/pt-br/acompanhe-o-mcti/noticias/2023/03/com-40-mil-profissionais-capacitados-programa-residencia-em-tic-sera-ampliado-para-atender-desafios-da-industria}"
										target="_blank">MCTI</a>) que apoia causas como a nossa.

								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingSix">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									Como faço para criar uma conta?
								</button>
							</h2>

							<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">
									SIMPLES! Para criar uma conta, clique no botão <span
										class="fw-bold">"Inscreva-se"</span> na
									barra de navegação e siga as instruções.
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingSeven">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									Como altero minha senha?
								</button>
							</h2>

							<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
								data-bs-parent="#accordionExample">
								<div class="accordion-body text-body-secondary">
									Para alterar sua senha, faça login na sua conta e vá para as configurações
									de conta.
								</div>
							</div>
						</div>
					</div>
				</div>
	</main>

	<div th:replace="~{/shared/_footer}"></div>

</body>

</html>