<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/service.css}">

<body>
	<div th:replace="@{/shared/_navbar}"></div>

	<main>
		<div class="container py-4">
			<div class="p-5 mb-4 bg-body-tertiary rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold">Sua Casa da Inovação</h1>

					<p class="col-md-8 fs-5">
						Na DevHome, estamos comprometidos em transformar sua jornada no mundo da tecnologia em uma
						experiência única e significativa. Seja você um entusiasta em busca de conhecimento ou um
						profissional procurando oportunidades empolgantes, você está no lugar certo!
					</p>

					<a th:href="@{/inicio}" class="text-center">
						<button type="button" class="btn btn-primary"> Inicial </button>
					</a>
				</div>
			</div>

			<div class="row align-items-md-stretch">
				<div class="col-md-6">
					<div class="h-100 p-5 text-bg-dark rounded-3">
						<h2>Explore nossa trilha de aprendizado</h2>

						<p>
							Aprimore suas habilidades e fique à frente no cenário tecnológico em constante evolução.
							Navegue por nossos cursos especializados, desenvolvidos para impulsionar sua carreira. Da
							programação de software à inteligência artificial, oferecemos conhecimento prático para
							levar suas habilidades a novos patamares.
						</p>

						<a th:href="@{/trilhas}">
							<button type="button" class="btn btn-primary"> Cursos </button>
						</a>

					</div>
				</div>
				<div class="col-md-6">
					<div class="h-100 p-5 bg-body-tertiary border rounded-3">
						<h2>Descubra Oportunidades Profissionais</h2>

						<p>
							Aprimore suas habilidades e fique à frente no cenário tecnológico em constante evolução.
							Navegue por nossos cursos especializados, desenvolvidos para impulsionar sua carreira. Da
							programação de software à inteligência artificial, oferecemos conhecimento prático para
							levar suas habilidades a novos patamares.
						</p>

						<a th:href="@{/vaga/oportunidades}">
							<button type="button" class="btn btn-primary"> Vagas </button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="@{/shared/_footer}"></div>

</body>

</html>