<div th:replace="shared/_head"></div>
<link rel="stylesheet" href="../assets/dist/css/menuAdm.css">

<body>
	<div th:replace="shared/_sidebars"></div>

	<main>
		<div class="form-signin w-100 m-auto">
			<div class="form-body">
				<form class="form-row" th:action="@{/vaga/novo}" th:object="${vacancy}" method="post">

					<a href="/">
						<img class="mb-4" src="/assets/img/icon/icon-pink-2.png" alt="devHOME™ logo" id="icon-logo">
					</a>

					<h1 class="h3 mb-3 fw-normal" id="typing-header">Cadastrando Vaga</h1>

					<div class="form-group">
						<label for="name"> Título da vaga </label>

						<input type="text" class="form-control" id="name" placeholder="Digite o título da vaga" required
							th:field="*{name}">
					</div>

					<div class="form-group">
						<label for="description"> Descrição da vaga </label>

						<input type="text" class="form-control" id="description" placeholder="Breve descrição da vaga"
							required th:field="*{description}">
					</div>

					<div class="form-group">
						<label for="enterprise"> Selecione a empresa </label>

						<select class="form-control" id="enterprise" th:field="*{enterprise.id}" required>

							<option th:each="enterprise : ${enterprise}" th:value="${enterprise.id}"
								th:text="${enterprise.name}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="address"> Localização </label>

						<select class="form-control" id="address" th:field="*{enterprise.id}" required>
							<option th:each="enterprise : ${enterprise}" th:value="${enterprise.id}"
								th:text="${enterprise.address}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="sector"> Setor de atuação </label>

						<select class="form-select" id="sector" th:field="*{sector}" required>
							<option value="Selecione" selected> Selecione o setor </option>
							<option value="Frontend"> Frontend </option>
							<option value="Backend"> Backend </option>
							<option value="Fullstack"> Fullstack </option>
						</select>
					</div>

					<div class="form-group disabled">
						<label for="candidacy"> Data do cadastro </label>

						<input type="date" class="form-control" id="candidacy" name="data" th:field="*{candidacy}"
							disabled>
					</div>

					<button class="btn btn-primary w-100 py-2" type="submit"> Cadastrar </button>
				</form>
			</div>
		</div>
		</div>
		</div>
	</main>
</body>

</html>