<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/menuAdm.css}">

<body class="bg-body-tertiary">
	<div th:replace="@{/shared/_sidebars}"></div>

	<main>
		<div class="container-fluid d-flex align-items-center">
			<div class="container-xxl d-flex justify-content-center flex-wrap gap-5">

				<div class="text-center">
					<h1 class="display-3 fw-bold" id="typing-header">Editando Vaga</h1>
				</div>

				<form class="col-10" enctype="multipart/form-data" th:object="${vacancy}" method="post">

					<div class="row">
						<div class="col-md-1">
							<label for="id"> ID </label>
							<input type="text" class="form-control" id="id" name="id" th:field="*{id}" disabled>
						</div>

						<div class="col-md-11">
							<label for="name"> Título da Vaga </label>
							<input type="text" class="form-control" id="name" placeholder="Digite o título da vaga "
								required th:field="*{name}">
						</div>

						<div class="col-md-12">
							<label for="description"> Descrição da Vaga </label>
							<input type="text" class="form-control" id="description"
								placeholder="Digite a descrição da vaga" required th:field="*{description}">
						</div>

						<div class="col-md-4">
							<label for="enterprise"> Selecione a Empresa </label>

							<select class="form-control" id="enterprise" th:field="*{enterprise.id}" required>
								<option th:each="enterprise : ${enterprise}" th:value="${enterprise.id}"
									th:text="${enterprise.name}"></option>
							</select>
						</div>

						<div class="col-md-4">
							<label for="sector"> Setor de atuação </label>

							<select class="form-select" id="sector" th:field="*{sector}" required>
								<option value="Selecione" selected> Selecione o setor </option>
								<option value="Frontend"> Frontend </option>
								<option value="Backend"> Backend </option>
								<option value="Fullstack"> Fullstack </option>
							</select>
						</div>

						<div class="col-md-4">
							<label for="candidacy"> Data do cadastro </label>

							<input type="date" class="form-control" id="candidacy" placeholder="dd-MM-yyyy" required
								th:field="*{candidacy}" disabled>
						</div>

						<div class="col-md-12">
							<label for="address"> Endereço da Empresa </label>

							<select class="form-control" id="address" th:field="*{enterprise.id}" required>
								<option th:each="enterprise : ${enterprise}" th:value="${enterprise.id}"
									th:text="${enterprise.address}"></option>
							</select>
						</div>
						
						<div class="col d-flex justify-content-center flex-wrap gap-2 my-4">
							<button class="btn btn-primary col-4" type="submit">Salvar</button>

							<a th:href="@{/vaga/deletar/{id} (id=${vacancy.id})}" class="btn btn-danger col-4"
								th:onclick="'return confirm(\'Tem certeza que deseja excluir essa vaga?\');'">
								Excluir
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

</body>

</html>