<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/opportunity.css}">

<body>
	<div th:replace="shared/_navbar"></div>

	<main class="my-5">
		<div class="container-fluid text-center my-5">
			<div class="container-xxl d-flex justify-content-center flex-wrap">

				<div class="col-10 my-3">
					<h1 class="display-4 fw-bold lh-1">
						Bem-vindo à nossa Seção de Vagas de Emprego!
					</h1>

					<p class="lead">
						Explore as oportunidades emocionantes disponíveis e encontre a vaga perfeita para você. Cada
						vaga é uma porta para novas experiências e possibilidades de crescimento profissional.
					</p>

					<p class="lead">
						Descubra as diferentes posições, seus requisitos e prazos de candidatura. Estamos ansiosos
						para receber sua candidatura e ajudá-lo a dar o próximo passo em sua carreira. Boa sorte na
						sua busca por oportunidades de emprego!
					</p>
				</div>

				<div class="container rounded-3 border">
					<div class="table-responsive text-center my-lg-3">
						<h2 class="text-center">Confira</h2>

						<table class="table caption-top">
							<caption>Vagas disponíveis até o momento!</caption>
							<thead>
								<tr class="text-center">
									<th scope="col"> ID </th>
									<th scope="col"> Vaga </th>
									<th scope="col"> Descrição </th>
									<th scope="col"> Empresa </th>
									<th scope="col"> Localização </th>
									<th scope="col"> Data do Cadastro </th>
									<th scope="col"> Setor </th>
									<th scope="col"> Ações </th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="vacancy : ${vacancy}">
									<th scope="row" th:text="${vacancy.id}"></th>
									<td th:text="${vacancy.name}"></td>
									<td th:text="${vacancy.description}"></td>
									<td th:text="${vacancy.enterprise.name}"></td>
									<td th:text="${vacancy.enterprise.address}"></td>
									<td th:text="${vacancy.candidacy}"></td>
									<td th:text="${vacancy.sector}"></td>
									<td>
										<button class="btn btn-primary"> Aplicar </button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<div th:replace="@{/shared/_footer}"></div>

</body>

</html>