<div th:replace="shared/head"></div>
<link rel="stylesheet" href="/assets/css/index.css">

<body>
	<div th:replace="shared/navbar"></div>

	<main>
		<div class="carousel slide" id="devHOME™" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#devHOME™" data-bs-slide-to="0" class=""
					aria-label="Slide 1"></button>

				<button type="button" data-bs-target="#devHOME™" data-bs-slide-to="1" class="active"
					aria-label="Slide 2" aria-current="true"></button>

				<button type="button" data-bs-target="#devHOME™" data-bs-slide-to="2" class=""
					aria-label="Slide 3"></button>
			</div>

			<div class="carousel-inner">
				<div class="carousel-item carousel-item-start active">
					<svg class="bd-placeholder-img" id="slide1" width="100%" height="100%"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
						focusable="false">
						<rect width="100%" height="100%"></rect>
					</svg>

					<div class="container">
						<div class="carousel-caption text-white text-start">
							<h1 class="enfase-text">Desenvolva seu potencial</h1>

							<p class="fs-5 opacity-75">
								"Desenvolver seu potencial é como regar uma semente, permitindo que cresça, floresça e
								revele a verdadeira beleza que está dentro de você."
							</p>

							<!-- <p><a class="btn btn-lg btn-primary" href="#">Saber mais</a></p> -->
						</div>
					</div>
				</div>

				<div class="carousel-item carousel-item-next carousel-item-start">
					<svg class="bd-placeholder-img" id="slide2" width="100%" height="100%"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
						focusable="false">
						<rect width="100%" height="100%"></rect>
					</svg>

					<div class="container">
						<div class="carousel-caption text-white">
							<h1>Continue a avançar</h1>

							<p class="fs-5 opacity-75">
								"Andar na corda bamba da vida requer equilíbrio, coragem e determinação para seguir em
								frente, mesmo diante dos desafios que balançam nosso caminho."
							</p>

							<!--  <p><a class="btn btn-lg btn-primary" href="#">Saber mais</a></p> -->
						</div>
					</div>
				</div>

				<div class="carousel-item">
					<svg class="bd-placeholder-img" id="slide3" width="100%" height="100%"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
						focusable="false">
						<rect width="100%" height="100%"></rect>
					</svg>

					<div class="container">
						<div class="carousel-caption text-white text-end">
							<h1>Chega de transito</h1>
							<p class="fs-5 opacity-75">
								"O home office trouxe a revolução do trabalho, transformando nossas casas em escritórios
								e mostrando que a produtividade não tem fronteiras."
							</p>

							<!-- <p><a class="btn btn-lg btn-primary" href="#">Saber mais</a></p> -->
						</div>
					</div>
				</div>
			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#devHOME™" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>

			<button class="carousel-control-next" type="button" data-bs-target="#devHOME™" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<div class="px-4 py-5 my-4 text-center">
			<!-- <img class="d-block mx-auto mb-4" src="/assets/img/icon/icon-blue-2.png" alt="devHOME™ icon" id="icon-logo"> -->
			<h1 class="chaves_logo btn" type="button">{<i class="bi bi-house-door-fill"></i>}</h1>

			<h1 class="display-5 fw-bold text-body-emphasis">Residência em Software</h1>

			<div class="col-lg-8 mx-auto">
				<p class="lead">
					Oferecemos um programa de formação profissional que combina teoria e prática,
					preparando os residentes para uma carreira de sucesso no desenvolvimento de software.Os residentes
					trabalham em projetos reais com clientes reais, sob a orientação de mentores experientes.
				</p>

				<p class="lead">
					Não cobramos nenhum conhecimento técnico prévio, ou taxa, pois o curso é 100% gratuito, sem contar
					que ao final
					você pode ser contratado por uma empresa parceira do programa.
				</p>

				<p class="lead">
					Lembre-se, tudo depende de você!
				</p>

				<!--				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">-->
				<!--					<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Inscreva-se</button>-->
				<!--				</div>-->
			</div>
		</div>

		<div class="b-example-divider"></div>

		<div class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row-reverse align-items-center g-5 py-5">

				<div class="col-10 col-sm-8 col-lg-6">
					<img src="https://assets-global.website-files.com/5c88fc885559811e86314a3b/6001e1a04bff67771f74a9d6_gc_homepage_spot-2.svg"
						class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
						loading="lazy">
				</div>

				<div class="col-lg-6">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
						Antes na medicina agora <span class="enfase-text" id="typing-header"> em Software</span>
					</h1>

					<p class="lead">
						Assim como a residência em medicina é um período de treinamento intensivo para médicos após a
						formatura da faculdade de medicina, a residência em software também envolve um treinamento
						especializado para desenvolvedores de software após a graduação ou obtenção de habilidades
						básicas em programação.
					</p>

					<div class="d-grid gap-2 d-md-flex justify-content-md-start">
						<!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Grátis</button> -->
					</div>
				</div>
			</div>
		</div>

		<div class="b-example-divider"></div>

		<div class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row align-items-center g-5 py-5">
				<div class="col-10 col-sm-8 col-lg-6">
					<img src="https://boost-theme.netlify.app/assets/img/revenue.svg"
						class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
						loading="lazy">
				</div>

				<div class="col-lg-6">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
						Objetivo principal do <span class="enfase-text">Programa</span>!
					</h1>

					<p class="lead">
						Esse programa visa aprimorar as habilidades técnicas, conhecimentos e experiência dos
						participantes, preparando-os para se tornarem desenvolvedores de software altamente qualificados
						e eficazes.
					</p>

					<p class="lead">
						Visamos també preencher a lacuna entre o aprendizado teórico adquirido durante a formação
						acadêmica ou
						cursos de programação e as habilidades práticas necessárias para trabalhar como se desenvolvedor
						em
						um ambiente profissional.
					</p>

					<div class="d-grid gap-2 d-md-flex justify-content-md-start">
						<!-- <button type="button" id="btnHeros" class="btn btn-primary btn-lg px-4 me-md-2">Deixa
                            comigo</button> -->
					</div>
				</div>
			</div>
		</div>

		<div class="b-example-divider"></div>

		<div class="container px-4 py-5">
			<h2 class="pb-2 border-bottom">Nosso Propósito</h2>

			<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

				<div class="col d-flex align-items-start">
					<div class="d-inline-flex align-items-center justify-content-center fs-4 me-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
							class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
							<path
								d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z" />
							<path
								d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z" />
						</svg>
					</div>

					<div>
						<h3 class="fs-2 text-body-emphasis"> Aprendizado </h3>
						<p class="opacity-75">
							Os participantes são imersos em projetos práticos de desenvolvimento de software do mundo
							real onde trabalham em equipes, enfrentando desafios técnicos reais sob a orientação de
							mentores experientes.
						</p>

						<!-- <a href="#" class="btn btn-primary">
                            Eu quero
                        </a> -->
					</div>
				</div>

				<div class="col d-flex align-items-start">
					<div class="d-inline-flex align-items-center justify-content-center fs-4  me-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
							class="bi bi-gear-fill" viewBox="0 0 16 16">
							<path
								d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
						</svg>
					</div>

					<div>
						<div>
							<h3 class="fs-2 text-body-emphasis"> Feedback </h3>
							<p class="opacity-75">
								O feedback contínuo na residência em software é um ciclo de aprendizado crucial. Ele
								realça pontos fortes e áreas a melhorar, molda o desenvolvimento individual, encoraja a
								reflexão e promove uma cultura de progresso constante.
							</p>

							<!-- <a href="#" class="btn btn-primary">
                                Eu quero
                            </a> -->
						</div>
					</div>
				</div>

				<div class="col d-flex align-items-start">
					<div class="d-inline-flex align-items-center justify-content-center fs-4 me-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
							class="bi bi-person-plus-fill" viewBox="0 0 16 16">
							<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
							<path fill-rule="evenodd"
								d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
						</svg>
					</div>

					<div>
						<h3 class="fs-2 text-body-emphasis"> Networking </h3>
						<p class="opacity-75">
							Além das habilidades técnicas, também oferecemos aos residentes a chance de conhecer
							colegas, mentores, líderes de empresas e outros profissionais da área, que torna benéfico
							para o seu crescimento de suas carreiras.
						</p>

						<!-- <a href="#" class="btn btn-primary">
                            Eu quero
                        </a> -->
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="shared/footer"></div>

</body>

</html>