<div class="b-example-divider"></div>

<div class="container">
	<footer class="py-3 my-4">
		<ul class="nav nav-footer justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item">
				<a th:href="@{/}" class="nav-link px-2 text-body-secondary">Início</a>
			</li>

			<li class="nav-item">
				<a th:href="@{/contato}" class="nav-link px-2 text-body-secondary">Contato</a>
			</li>

			<li class="nav-item">
				<a th:href="@{/faq}" class="nav-link px-2 text-body-secondary disabled">FAQ</a>
			</li>
		</ul>

		<p class="pt-2 m-0 text-center opacity-75">
			Copyright <i class="bi bi-c-circle"></i> 2023. <span class="d-none d-md-inline-block">Todos os direitos
				reservados.</span>
		</p>

		<img th:replace="@{/shared/_brand}"></img>

		<p class="float-end"><i class="bi bi-arrow-up-short"></i><a href="#">Voltar ao início</a></p>
	</footer>
</div>

<svg class="svg-footer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
	<path fill="var(--color-special)"
		d="M0,32L30,53.3C60,75,120,117,180,138.7C240,160,300,160,360,144C420,128,480,96,540,117.3C600,139,660,213,720,208C780,203,840,117,900,74.7C960,32,1020,32,1080,53.3C1140,75,1200,117,1260,138.7C1320,160,1380,160,1410,160L1440,160L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
	</path>
</svg>