<div th:replace="@{/shared/_head}"></div>
<link rel="stylesheet" th:href="@{/assets/dist/css/menuAdm.css}">

<body class="bg-body-tertiary">
	<div th:replace="@{/shared/_sidebars}"></div>

	<main>
		<div class="container-fluid d-flex align-items-center">
			<div class="container-xxl d-flex justify-content-center flex-wrap gap-5">

				<div class="text-center">
					<h1 class="display-3 fw-bold" id="typing-header">Editando Empresa</h1>
				</div>

				<form class="col-10" enctype="multipart/form-data" th:object="${enterprise}" method="post">

					<div class="row">
						<div class="col-md-1">
							<label for="id"> ID </label>
							<input type="text" class="form-control text-center" id="id" name="id" th:field="*{id}" disabled>
						</div>

						<div class="col-md-11">
							<label for="name"> Nome da Empresa </label>
							<input type="text" class="form-control" id="name" placeholder="Digite o nome da empresa"
								required th:field="*{name}">
						</div>

						<div class="col-md-12">
							<label for="address"> Endereço Comercial </label>
							<input type="text" class="form-control" id="address"
								placeholder="Digite o endereço comercial" required th:field="*{address}">
						</div>

						<div class="col-md-4">
							<label for="cnpj"> CNPJ </label>
							<input type="text" class="form-control" id="cnpj"
								placeholder="Digite o número de identificação fiscal da empresa" required
								th:field="*{cnpj}">
						</div>

						<div class="col-md-4">
							<label for="contact"> Telefone </label>
							<input type="tel" class="form-control" id="contact"
								placeholder="Digite o número de telefone" required th:field="*{contact}">
						</div>

						<div class="col-md-4">
							<label for="sector"> Setor de Atividade </label>
							<input type="text" class="form-control" id="sector"
								placeholder="Digite o setor de atividade" required th:field="*{sector}">
						</div>

						<div class="col-md-8">
							<label for="email"> E-mail </label>
							<input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required
								th:field="*{email}">
						</div>

						<div class="col-md-4">
							<label for="foundation"> Data de Fundação </label>
							<input type="date" class="form-control" id="foundation" required th:field="*{foundation}">
						</div>

						<div class="col d-flex justify-content-center flex-wrap gap-2 my-4">
							<button class="btn btn-primary col-4" type="submit">Salvar</button>

							<a th:href="@{/empresa/deletar/{id} (id=${enterprise.id})}" class="btn btn-danger col-4"
								th:onclick="'return confirm(\'Tem certeza que deseja excluir essa empresa?\');'">

								Excluir
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>

</html>